<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>run_query_url</key>
	<string>/mqlread</string>
	<key>api_base_url</key>
	<string>https://www.googleapis.com/freebase/v1</string>
	<key>api_version</key>
	<string>v1</string>
	<key>entities_by_keyword_parameters</key>
	<string>&amp;spell=always&amp;exact=false&amp;prefixed=true&amp;domain=/book&amp;spell=always&amp;limit=40&amp;filter=(any notable:book notable:Author notable:/book/book notable:Novelist notable:writer notable:Philosopher notable:Dramatist notable:Theatrical_Lyricist notable:poet)</string>
</dict>
</plist>
